<div class="container">
    <div class="row">
        <div class="top-box mx-auto">
            <img src="assets/top",class="card-img">
            <div class="card col-6 col-offset-4 top-text py-3">
                <p class="card-text">ようこそ、ながのCAKEへ！</p>
                <p class="card-text">このサイトは、ケーキ販売のECサイトになります。</p>
                <p class="card-text">会員でない方も商品の閲覧はできますが、</p>
                <p class="card-text">購入には会員登録が必要になります。</p>
            </div>
        </div>
    </div>
    <h1>新着商品</h1>
    <div class="row">
            <% @items.first(5).each do |i| %>
                <%= link_to item_path(i),class: "card col-2 p-3 m-3" do %>
                    <%= image_tag i.get_image(200,200),class: "card-img-top" %>
                    <div class="card-text text-secondary">
                        <p><%= i.name %></p>
                    </div>
                <% end %>
            <% end %>
    </div>
</div>