<div class="containew">
  <% @item.each do |item| %>
  <div class="row">
    <%= image_tag item.image.get_image(200,200),class: "col-offset-3 col-3" %>
    <div class="col-3">
      <h2><%= item.name %></h2>
      <p><%= item.introduction %></p>
      <p class="strong">¥<%= item.price %></p><p>(税込)</p>
    </div>
  </div>
</div>